<form>
  <div class="form-group">
    <label for="title">Search By Title</label>
    {{input value=title class="form-control" id="title"}}
  </div>
  <button class="btn btn-primary"  {{action 'search'}}>Save</button>
</form>
